.NewOrderPage {
  height: 100%;
  display: grid;
  grid-template-columns: 1.2fr 3.8fr 2.8fr;
  grid-template-rows: 1fr;
  background-color: var(--white);
  border-radius: 2vmin;
  background-image: url("../../../public/luke-chesser-CxBx_J3yp9g-unsplash.jpg");
  background-size: 100% 100%;
}

.NewOrderPage aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  /* margin: 3vmin 2vmin; */
}

.border {
  border: 2px solid black;
}
